<template>
  <q-page>
    <main>
      <div class="dashboard">
        <p class="text-h5 text-bold q-pt-lg text-teal">Dashboard</p>
        <section class="row" style="grid-gap: 16px">
          <q-card
            v-for="card in cards"
            :key="card.id"
            class="col cursor-pointer"
            style="height: 15rem"
            @click="navigateToTable"
          >
            <q-card-section>
              <div class="text-h6">{{ card.title }}</div>
            </q-card-section>
            <q-card-section>
              {{ card.description }}
            </q-card-section>
          </q-card>
        </section>
      </div>
    </main>
  </q-page>
</template>

<style lang="scss" scope>
@import "./styles/style.scss";
</style>

<script src="./scripts/Dashboard.js"></script>
