<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <q-page>
      <header class="form-header">
        <q-btn
          icon="arrow_back"
          @click="navigateBackToTable"
          rounded
          flat
          style="height: 32px"
        />

        <p class="form-profile text-h5 text-bold q-pt-lg text-teal">
          Staff Profile Details
        </p>
      </header>
      <main>
        <section>
          <!-- form -->
          <div>
            <q-form @submit="submitForm">
              <div class="form-container">
                <div class="input-wrapper">
                  <label class="form-label" for="name">Name:</label>
                  <div class="input-container">
                    <input
                      v-model="name"
                      id="name"
                      class="custom-input"
                      type="text"
                    />
                  </div>
                </div>
                <div class="input-wrapper">
                  <label class="form-label" for="employeeId"
                    >Employee ID:</label
                  >
                  <div class="input-container">
                    <input
                      v-model="employeeId"
                      id="employeeId"
                      class="custom-input"
                      type="text"
                    />
                  </div>
                </div>

                <div class="input-wrapper">
                  <label class="form-label" for="email">Email:</label>
                  <div class="input-container">
                    <input
                      v-model="email"
                      id="email"
                      class="custom-input"
                      type="email"
                    />
                  </div>
                </div>

                <div class="input-wrapper">
                  <label class="form-label" for="currentTask"
                    >Current Task:</label
                  >
                  <div class="input-container">
                    <input
                      v-model="currentTask"
                      id="currentTask"
                      class="custom-input"
                      type="text"
                    />
                  </div>
                </div>

                <div class="input-wrapper">
                  <label class="form-label" for="description"
                    >Description:</label
                  >
                  <div class="input-container">
                    <textarea
                      v-model="description"
                      id="description"
                      class="custom-textarea"
                      type="textarea"
                    ></textarea>
                  </div>
                </div>

                <div class="input-wrapper">
                  <label class="form-label" for="status">Status:</label>
                  <div class="input-container">
                    <input
                      v-model="status"
                      id="status"
                      class="custom-input"
                      type="text"
                    />
                  </div>
                </div>

                <div class="input-wrapper">
                  <label class="form-label" for="houseAddress"
                    >House Address:</label
                  >
                  <div class="input-container">
                    <input
                      v-model="houseAddress"
                      id="houseAddress"
                      class="custom-input"
                      type="text"
                    />
                  </div>
                </div>

                <q-btn
                  class="buttons"
                  rounded
                  cornered
                  type="submit"
                  label="Save Changes"
                  color="teal"
                />
              </div>
            </q-form>
          </div>
        </section>
      </main>
    </q-page>
  </transition>
</template>

<style lang="scss" scope>
@import "./styles/style.scss";
</style>

<script src="./scripts/Form.js"></script>
