<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-2">
    <q-header>
      <q-toolbar class="row justify-between bg-grey-2 q-pa-lg">
        <!------------ Search Input -------------->
        <q-input
          dense
          standout
          label="Search filter..."
          v-model="searchInput"
          input-class="text-left"
          color="black"
          label-color="black"
          class="search-filter"
          outlined
        >
          <template v-slot:prepend>
            <q-icon v-if="searchInput === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="searchInput = ''"
            />
          </template>
        </q-input>

        <!-------------- icons ---------------->
        <div class="text-black">
          <q-icon
            class="q-mr-md"
            style="font-size: 1.5rem"
            name="notifications"
          />
          <q-icon style="font-size: 2rem" name="account_circle" />
        </div>
      </q-toolbar>
    </q-header>

    <!-------------- SIDE BAR ------------->
    <q-drawer
      v-model="drawer"
      show-if-above
      :mini="true"
      :width="104"
      :breakpoint="500"
      :class="$q.dark.isActive ? 'bg-grey-9' : 'bg-white'"
    >
      <q-list
        padding
        class="column justify-between items-center"
        style="height: 100%"
      >
        <q-item>
          <q-item-section avatar>
            <q-icon name="diamond" />
          </q-item-section>
        </q-item>
        <div style="width: 100%">
          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>
          </q-item>

          <q-item active clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="menu" color="black" />
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section avatar>
              <p class="q-ma-none">Menu</p>
            </q-item-section>

            <q-item-section> Send </q-item-section>
          </q-item>
        </div>
      </q-list>
    </q-drawer>

    <q-page-container class="row q-mx-lg" style="grid-gap: 24px">
      <aside class="bg-white col-2 q-pa-md" style="border-radius: 1rem">
        <p class="text-h5 text-bold">Menu</p>
        <q-list>
          <q-item
            clickable
            @click="$router.push('/dashboard')"
            :active="$route.path === '/dashboard'"
          >
            <q-item-section avatar>
              <q-icon name="account_balance" />
            </q-item-section>
            <q-item-section>Menu 1</q-item-section>
          </q-item>
          <q-item
            clickable
            @click="$router.push('/table')"
            :active="$route.path === '/table'"
          >
            <q-item-section avatar>
              <q-icon name="groups" />
            </q-item-section>
            <q-item-section>Menu 2</q-item-section>
          </q-item>
          <q-item
            clickable
            @click="$router.push('/form')"
            :active="$route.path === '/form'"
          >
            <q-item-section avatar>
              <q-icon name="legend_toggle" />
            </q-item-section>
            <q-item-section>Menu 3</q-item-section>
          </q-item>
        </q-list>
      </aside>
      <router-view class="col bg-white q-pa-md" style="border-radius: 1rem" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",

  setup() {
    const drawer = ref(false);
    const searchInput = ref("");

    return {
      drawer,
      searchInput,
    };
  },
});
</script>
